
@{
    ViewBag.Title = "Order Success";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<body>
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center" style="min-height: calc(500px);">
                <i class="bi bi-check-circle-fill text-primary" style="font-size: 70px;"></i>
                <h2 class="text-uppercase mb-5">Đặt hàng thành công!</h2>
                <div class="d-flex gap-2">
                    <a class="btn btn-md btn-primary" href="~/don-mua">Xem đơn mua</a>
                    <a class="btn btn-md btn-success" href="~/">Tiếp tục mua hàng</a>
                </div>
            </div>
        </div>
    </div>
</body>