<!-- Sidebar -->
<ul class="navbar-nav bg-success sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home-admin">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Admin</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/home-admin">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Management Function
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/admin/quan-ly-san-pham">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Sản phẩm</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/admin/quan-ly-danh-muc">
            <i class="fas fa-fw fa-table"></i>
            <span>Danh mục</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/admin/quan-ly-don-hang">
            <i class="fas fa-shopping-cart"></i>
            <span>Đơn hàng</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/admin/quan-ly-tai-khoan">
            <i class="fas fa-user-alt"></i>
            <span>Tài khoản</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/admin/quan-ly-bai-viet">
            <i class="bi bi-file-earmark-post-fill"></i>
            <span>Bài đăng</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/admin/gioi-thieu">
            <i class="bi bi-file-earmark-person"></i>
            <span>Giới thiệu</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->