.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.tabs {
    display: flex;
    position: relative;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px -7px;
    padding: 0.75rem;
    border-radius: 99px;
    width: 100%;
    align-items: center;
}

.tab * {
    z-index: 2;
}

input[type="radio"] {
    display: none;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
}

input[type="radio"]:checked + label {
    color: white;
    background-color: #7AB730;
    margin-bottom: 0;
}
